*.iml
.gradle
**/build/
!src/**/build/
local.properties
.idea
.tmp
.fleet
.claude
.DS_Store
captures
.externalNativeBuild
.cxx
.kotlin
publish.bat
kotlin-js-store/
.mcp.json

# Xcode
*.xcworkspace
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xcworkspace/